{% macro input(name, mod, type = 'text', placeholder, value, options, fieldClass, fieldAttributes, attributes, label, isInline) %}
<!-- begin {{ name }} -->
{% if name === 'checkbox' or name === 'radio' or name === 'file' %}
<label
  class="input{% if name !== 'input' %} input--{{ name }}{% endif %}{% if mod %} {{mod}}{% endif %}"
  {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}>
{% elseif isInline %}
<span
  class="input{% if name !== 'input' %} input--{{ name }}{% endif %}{% if mod %} {{mod}}{% endif %}"
  {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}>
{% else %}
<div
  class="input{% if name !== 'input' %} input--{{ name }}{% endif %}{% if mod %} {{mod}}{% endif %}"
  {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}>
{% endif %}

  {% if label.first %}
    {{ label.first | safe }}    
  {% endif %} 

  {% if name === 'select' %}
  <select
    {% if fieldClass %}class="{{ fieldClass }}"{% endif %}
    {% for attr, attrValue in fieldAttributes %}
      {{ attr }}="{{ attrValue }}"
    {% endfor %}>
    {% for i in options %}
    <option
      value="{{ i.value }}"
      {% for attr, attrValue in i.attributes %}
        {{ attr }}="{{ attrValue }}"
      {% endfor %}>{{ i.option }}</option>
    {% endfor %}
  </select>

  {% elseif name === 'textarea' %}
  <textarea
    {% if fieldClass %}class="{{ fieldClass }}"{% endif %}
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if value %}value="{{value}}"{% endif %}
    {% for attr, attrValue in fieldAttributes %}
      {{ attr }}="{{ attrValue }}"
    {% endfor %}></textarea>

  {% else %}

  <input
    {% if fieldClass %}class="{{ fieldClass }}"{% endif %}
    type="{{ type }}"
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if value %}value="{{value}}"{% endif %}
    {% for attr, attrValue in fieldAttributes %}
      {{ attr }}="{{ attrValue }}"
    {% endfor %}>
  {% endif %}

  {% if label.last %}
    {{ label.last | safe }}
  {% endif %}

{% if name === 'checkbox' or name === 'radio' or name === 'file' %}
</label>
{% elseif isInline %}
</span>
{% else %}
</div>
{% endif %}
<!-- end {{ name }} -->
{% endmacro %}