{% macro list(
  name,
  nameAsClass = true,
  descr,
  modifications,
  list,
  isInline,
  attributes,
  hasWrap
) %}
{% if descr %}
  <!-- begin {{ name }} -->
  {% if isInline %}
  <span
     class="{% if nameAsClass %}{{ name }}{% endif %}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}"
     {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
  >
  {% elseif hasWrap %}
  <div
     class="{% if nameAsClass %}{{ name }}{% endif %}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}"
     {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
  >
  {% endif %}
    <dl class="{% if modifications.list %}{{ modifications.list }} {% endif %}{% if not hasWrap and nameAsClass %}{{ name }}{% endif %}">
      {% for i in list %}
      <dt
        {% if modifications.dt or i.modItemDt %}class="{{ modifications.dt }} {{ i.modItemDt }}"{% endif %}
      >{% if i.dt %}{{ i.dt | safe }}{% endif %}{% if i.link %}<a
        href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}"
        {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %}
        >{{ i.link | safe }}</a>{% endif %}</dt
      >
      <dd
        {% if modifications.dd or i.modItemDd %}class="{{ modifications.dd }} {{ i.modItemDd }}"{% endif %}
      >{% if i.dd %}{{ i.dd | safe }}{% endif %}{% if i.link %}<a
        href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}"
        {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %}
        >{{ i.link | safe }}</a>{% endif %}</dd
      >
      {% endfor %}
    </dl>
  {% if isInline %}
  </span>
  {% elseif hasWrap %}
  </div>
  {% endif %}
  <!-- end {{ name }}-->

{% else %}

  <!-- begin {{ name }} -->
  {% if hasWrap and name === 'nav' %}
  <nav
     class="{% if nameAsClass %}{{ name }}{% endif %}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}"
     {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
  >
  {% elseif isInline %}
  <span
     class="{% if nameAsClass %}{{ name }}{% endif %}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}"
     {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
  >
  {% elseif hasWrap %}
  <div
     class="{% if nameAsClass %}{{ name }}{% endif %}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}"
     {% for attr, attrValue in attributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
  >
  {% endif %}
    <ul class="{% if modifications.list %}{{ modifications.list }} {% endif %}{% if not hasWrap and nameAsClass %}{{ name }}{% endif %}">
      {% for i in list %}
      <li
        {% if modifications.item or i.modItem %}class="{{ modifications.item }} {{ i.modItem }}"{% endif %}
        {% for attr, attrValue in i.itemAttributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
      >{% if i.link %}<a
         href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}"
         {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %}
         {% for attr, attrValue in i.linkAttributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
       >{{ i.link | safe }}</a>{% endif %}{% if i.button %}<button
         {% if modifications.button or i.modBtn %}class="{{ modifications.button }} {{ i.modBtn }}"{% endif %}
         {% for attr, attrValue in i.buttonAttributes %} {{ attr }}="{{ attrValue }}" {% endfor %}
       >{{ i.button | safe }}</button>{% endif %}{% if i.item %}{{ i.item | safe }}{% endif %}</li
      >
      {% endfor %}
    </ul>
  {% if hasWrap and name === 'nav' %}
  </nav>  
  {% elseif isInline %}
  </span>
  {% elseif hasWrap %}
  </div>
  {% endif %}
  <!-- end {{ name }}-->
{% endif %}
{% endmacro %}
