{% import "mixins/_all.html" as mixins %}
<!doctype html>
<html lang="{% if language %}{{ language }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/app.css"/>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <!-- BEGIN content -->
    <div class="out{% if outClass %} {{ outClass }}{% endif %}">
      {% include "partials/_header.html" %}
      <!-- begin main -->
      <main class="out__main main{% if mainClass %} {{ mainClass }}{% endif %}">
        {% block content %}{% endblock %}
      </main>
      <!-- end main -->      
      {% include "partials/_footer.html" %}
    </div>
    <!-- END content -->
    <!-- BEGIN scripts -->
    <script id="app-script" src="js/app.js"></script>
    <!-- END scripts -->
  </body>
</html>
